<template>
    <v-app-bar app dense flat>
        <v-toolbar-title class="headline text-uppercase" v-if="selectedGuild">
            <span>{{selectedGuild.name}} </span>
            <span class="font-weight-light">{{selectedGuild.owner?"owner":selectedGuild.canManageGuild?"admin":"member"}}</span>
        </v-toolbar-title>
        <v-toolbar-title v-else>
            <span>vkp</span>
            <span class="font-weight-light">ninja</span>
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <v-progress-circular
                v-if="isLoading"
                indeterminate
        ></v-progress-circular>
        <v-spacer></v-spacer>

        <v-btn
                v-if="selectedGuild"
                :to="{ name: 'GuildImport', params: { guildId: selectedGuild.id }}"
                :disabled="!selectedGuild.canManageGuild"
                text
        >
            <span class="mr-2">Import Log</span>
        </v-btn>
    </v-app-bar>
</template>

<script>

    export default {
        components: {},
        props: {
            selectedGuild: null,
            isLoading: null,
        }
    }
</script>
