<template>
  <v-card
    class="mx-auto"
    max-width="500px"
    style="margin-top: 25px"
    color="secondary"
    hover
    ripple
    :to="{ name: 'ContestHome', params: { contestSlug: contest.slug }}"
  >
    <v-list-item three-line>
      <v-list-item-content>
        <div class="overline mb-4"></div>
        <v-list-item-title class="headline mb-1">{{guild.name}}</v-list-item-title>
        <v-list-item-subtitle>{{contest.location}}</v-list-item-subtitle>
      </v-list-item-content>

      <v-list-item-avatar size="80" color="background">
        <v-icon color="white">mdi-party-popper</v-icon>
      </v-list-item-avatar>
    </v-list-item>
  </v-card>
</template>

<script>
    import {Component, Prop, Vue} from 'vue-property-decorator'

    @Component({
        components: {}
    })
    export default class ContestCard extends Vue {
        @Prop({required: true})
        public guild!: guild
    }
</script>
