<template>
    <v-navigation-drawer
            permanent
            app
    >
        <v-row class="fill-height">
            <v-navigation-drawer
                    color="rgb(45, 45, 45)"
                    mini-variant
                    permanent
                    :mini-variant-width="85"
            >
                <v-list>
                    <v-list-item :to="{ name: 'HelloWorld'}">
                        <v-list-item-avatar color="light-blue">
                            <v-icon large>mdi-heart</v-icon>
                        </v-list-item-avatar>
                    </v-list-item>
                </v-list>
                <v-divider></v-divider>

                <v-list>
                    <v-list-item
                            v-for="guild in guilds"
                            :key="guild.id"
                            link
                            :to="{ name: 'GuildHome', params: { guildId: guild.id }}"
                    >
                        <v-tooltip
                                right
                                color="black"
                                :close-delay="4"
                        >
                            <template v-slot:activator="{ on }">
                                <v-list-item-avatar v-on="on">
                                    <v-img :src="guild.icon_url"></v-img>
                                </v-list-item-avatar>
                            </template>
                            <span>{{ guild.name }} </span>
                            <span v-if="guild.canManageGuild">(admin)</span>
                            <small v-else>(member)</small>
                        </v-tooltip>
                    </v-list-item>
                </v-list>
            </v-navigation-drawer>
            <v-list class="grow" v-if="selectedGuildId">
                <v-list-item
                        :to="{ name: 'GuildStandings', params: { guildId: selectedGuildId }}"
                >
                    <v-list-item-title>Standings</v-list-item-title>
                </v-list-item>
                <v-list-item
                        :to="{ name: 'GuildLogs', params: { guildId: selectedGuildId }}"
                >
                    <v-list-item-title>Logs</v-list-item-title>
                </v-list-item>
            </v-list>
        </v-row>
        <template v-slot:append>
            <v-list-item
                    dense
                    two-line
                    class="with-top-border"
            >
                <v-list-item-avatar>
                    <v-img :src="user.avatar_url"></v-img>
                </v-list-item-avatar>
                <v-list-item-content>
                    <v-list-item-title>{{user.username}}</v-list-item-title>
                    <v-list-item-subtitle>#{{user.discriminator}}</v-list-item-subtitle>
                </v-list-item-content>
            </v-list-item>

        </template>
    </v-navigation-drawer>
</template>

<script>
    //import BottomNavigation from './BottomNavigation';

    export default {
        components: {
            //BottomNavigation
        },
        props: {
            selectedGuildId: null,
            user: Object,
            guilds: Array,
        },
        data() {
            return {
                links: [
                    {name: 'Standings'},
                    {name: 'Logs'}
                ],
                drawer: true,
                items: [
                    {title: 'Home', icon: 'mdi-home-city'},
                    {title: 'My Account', icon: 'mdi-account'},
                    {title: 'Users', icon: 'mdi-account-group-outline'},
                ],
                mini: true,
            }
        }
    }
</script>

<style>
    .with-top-border {
        border-top: 1px solid #424242;
        background-color: rgb(45, 45, 45);
    }
</style>
