<template>
    <v-avatar>
        <img
                v-if="user"
                :src="user.avatar_url"
                :alt="user.name"
        >
    </v-avatar>
</template>

<script>
    export default {
        props: {
            user: Object,
        }
    }
</script>
