<template>
    <v-app v-if="user">
        <guild-menu
                :selectedGuildId="selectedGuildId"
                :user="user"
                :guilds="guilds"
        ></guild-menu>
        <app-bar
                :selectedGuild="selectedGuild"
                :isLoading="isLoading"
        ></app-bar>
        <v-content>
            <router-view/>
        </v-content>
    </v-app>
</template>

<script>
    import GuildMenu from './components/GuildMenu';
    import AppBar from './components/AppBar';
    import {getter} from "./store/getters";
    import {mapGetters} from "vuex";
    import {action} from "./store/actions";
    import {mutation} from "./store/mutations";

    export default {
        name: 'App',
        components: {
            AppBar,
            GuildMenu,
        },
        computed: {
            ...mapGetters([
                getter.GET_USER,
                getter.GET_GUILDS,
                getter.GET_SELECTED_GUILD,
                getter.GET_SELECTED_GUILD_ID,
                getter.IS_LOADING,
                getter.GET_GUILD,
            ])
        },
        data: () => ({
            //
        }),
        async updated() {
            const guildId = this.$route.params.guildId;

            if (guildId && guildId !== this.selectedGuildId) {
                this.$store.commit(mutation.SET_SELECTED_GUILD_ID, guildId)
                await Promise.all([
                    this.$store.dispatch(action.FETCH_CORS, guildId),
                    this.$store.dispatch(action.FETCH_RAIDLOGS, guildId),
                    this.$store.dispatch(action.FETCH_STANDINGS, guildId),
                ]);
            }

        }
    };
</script>
