<template>
    <v-container>
        <h1>Guild</h1>
        <router-view></router-view>
    </v-container>
</template>

<script>
    export default {
        props: {
            user: Object,
        }
    }
</script>
