<template>
    <v-container>
        <h2>Standings</h2>
        <v-data-table
                v-if="standings.length"
                :headers="headers"
                :items="standings"
                :items-per-page="100"
                class="elevation-1"
                hide-default-footer

        >
        </v-data-table>
    </v-container>
</template>

<script>
    import {mapGetters} from "vuex";
    import {getter} from "../store/getters";

    export default {
        data: () => ({
            headers: [
                {text: 'Player', value: 'player'},
                {text: 'Points', value: 'points'},
            ],
        }),
        computed: {
            ...mapGetters([
                getter.GET_STANDINGS
            ])
        },
    };
</script>
