<template>
    <v-container>
        <h2>Raidlogs</h2>
        <v-data-table
                v-if="raidLogs.length"
                :headers="headers"
                :items="raidLogs"
                :items-per-page="100"
                class="elevation-1"
                hide-default-footer

        >
            <template v-slot:item.filename="{ item }">
                <a target="_blank" :href="item.url">{{item.filename}}</a>
            </template>
            <template v-slot:item.created="{ item }">
                <time :datetime="new Date(item.created).toISOString()">{{new Date(item.created).toLocaleString()}}</time>
            </template>
            <template v-slot:item.updated="{ item }">
                <time :datetime="new Date(item.updated).toISOString()">{{new Date(item.updated).toLocaleString()}}</time>
            </template>
            <template v-slot:item.size="{ item }">
                {{item.size | humanFileSize}}
            </template>
        </v-data-table>
    </v-container>
</template>

<script>
    import {mapGetters} from "vuex";
    import {getter} from "../store/getters";

    export default {
        data: () => ({
            headers: [
                {text: 'Name', value: 'filename'},
                {text: 'Created', value: 'created'},
                {text: 'Updated', value: 'updated'},
                {text: 'Filesize', value: 'size'},
            ],
        }),
        computed: {
            ...mapGetters([
                getter.GET_RAIDLOGS,
            ])
        },
    };
</script>
