<template>
    <v-container>
        <h2>Nice summary page with great info. @todo</h2>
    </v-container>
</template>

<script>
    export default {
        props: {
            user: Object,
        }
    }
</script>
