<template>
    <v-container>
        <h2>Import</h2>
        <form>
            <v-textarea
                    :disabled="savingInProgress"
                    v-model="raidlog"
                    solo
                    label="paste dkp string here"
                    height="50%"
                    :loading="savingInProgress"

            ></v-textarea>
            <div class="text-center">
                <v-btn accent class="mr-4 mb-4" @click="submit" :disabled="!valid || savingInProgress" x-large>
                    submit
                </v-btn>
                <v-btn class="mr-4 mb-4" :to="{ name: 'GuildLogs', params: { guildId } }" :disabled="savingInProgress" x-large>
                    cancel
                </v-btn>
            </div>
            <v-spacer></v-spacer>
        </form>
        <div v-if="valid">
            <h2>Summary</h2>

            <div>Filename: {{raidName}}</div>
            <v-data-table
                    caption="Bosskills"
                    v-if="bosskills.length"
                    :headers="bosskillsHeaders"
                    :items="bosskills"
                    :items-per-page="100"
                    class="elevation-1"
            >
                <template v-slot:item.time="{ item }">
                    <time :datetime="new Date(item.time * 1000).toISOString()">{{new Date(item.time * 1000).toLocaleString()}}</time>
                </template>
            </v-data-table>
            <br/>
            <v-data-table
                    caption="Items"
                    v-if="items.length"
                    :headers="itemsHeaders"
                    :items="items"
                    :items-per-page="100"
                    class="elevation-2"
                    hide-default-footer
            >
                <template v-slot:item.time="{ item }">
                    <time :datetime="new Date(item.time * 1000).toISOString()">{{new Date(item.time * 1000).toLocaleString()}}</time>
                </template>
            </v-data-table>
            <br/>
            <v-data-table
                    v-if="members.length"
                    caption="Members"
                    :headers="membersHeaders"
                    :items="members"
                    :items-per-page="100"
                    class="elevation-2"
                    hide-default-footer
            ></v-data-table>
        </div>
    </v-container>
</template>

<script>
    import {parseString} from 'xml2js'
    import jsonpath from 'jsonpath'
    import {action} from "../store/actions";

    import router from "../router";

    const findData = (obj, query) => {
        if (obj) {
            const data = jsonpath.query(obj, query);
            if (data.length === 1) {
                return data[0]
            }
        }
        return []
    }
    export default {
        data: () => ({
            savingInProgress: false,
            raidlog: null,
            parsedLog: null,
            valid: false,
            bosskillsHeaders: [
                {text: 'Name', value: 'name'},
                {text: 'Time', value: 'time'}
            ],
            itemsHeaders: [
                {text: 'Name', value: 'name'},
                {text: 'Member', value: 'member'},
                {text: 'Cost', value: 'cost'},
                {text: 'Boss', value: 'boss'},
                {text: 'Time', value: 'time'},
            ],
            membersHeaders: [
                {text: 'Name', value: 'name'},
                {text: 'Class', value: 'class'},
            ],
        }),
        computed: {
            guildId: function () {
                return this.$route.params.guildId;
            },
            bosskills: function () {
                return findData(this.parsedLog, "$..bosskills.bosskill");
            },
            items: function () {
                return findData(this.parsedLog, "$..items.item");
            },
            members: function () {
                return findData(this.parsedLog, "$..members.member");
            },
            zones: function () {
                return findData(this.parsedLog, "$..zones.zone");
            },
            raidName: function () {
                const zones = this.zones;
                let zone = null;
                if (zones.name) {
                    zone = zones;
                }
                if (Array.isArray(zones) && zones.length > 0) {
                    zone = zones[0]
                }
                if (zone !== null) {
                    const date = new Date(zone.enter * 1000);
                    return date.toISOString().slice(0, -8).replace(/\D/g, '') + "_" + zone.name.replace(/\s/g, '') + ".xml";
                }
                return undefined;
            }
        },
        methods: {
            async submit() {
                if (this.valid && !this.savingInProgress) {
                    this.savingInProgress = true;
                    await this.$store.dispatch(action.SAVE_RAIDLOG, this.raidlog)
                    this.savingInProgress = false;
                    const guildId = this.$route.params.guildId;
                    await router.push({name: 'GuildLogs', params: {guildId}})
                }
            },
        },
        watch: {
            raidlog: function (newContent, oldContent) {
                const self = this;
                parseString(newContent, {
                    explicitArray: false
                }, function (err, result) {
                    // eslint-disable-next-line
                    console.log(result);
                    if (result) {
                        self.parsedLog = result
                        self.valid = true;
                    } else {
                        self.parsedLog = null;
                        self.valid = false;
                    }
                });
                return oldContent
            }
        },
    }
</script>
<style>
    .v-data-table {
        border-radius: 4px;
    }
</style>